.main
  %section.firstVisual
    = render partial: 'firstVisual'

  %section.secondVisual
    = render partial: 'secondVisual'

  %section.thirdVisual
    = render partial: 'thirdVisual'
    
  %section.forthVisual
    = render partial: 'forthVisual'

  %section.fifthVisual
    = render partial: 'fifthVisual'
  
  %section.sixthVisual
    = render partial: 'sixthVisual'

%aside.seventhVisual
  = render partial: 'seventhVisual'
  
%a{ href: "#"}
.purchaseBtn
  %span.purchaseBtn__text 出品する
  = image_tag asset_path('material/icon/icon_camera.png'), class: "purchaseBtn__icon"