#body
  .back
    .itemMain
      %h1.itemMain__name 
        = @product.name
      .itemMain__content.clearfix
        .itemMain__content__photo
          = image_tag @images[0].image.url, class:"show-image"
          .itemMain__content__photo--multiple
            = image_tag @images[1].image.url
            = image_tag @images[2].image.url
          -# - if @images[3].image.url.present?
          -#   = image_tag @images[3].image.url
        %table.category
          %tbody
            %tr
              %th 出品者
              %td
                = @product.user.nickname
                = @product.user_id
                .category__icon
                  .category__icon__box
                    = image_tag asset_path('material/icon/icon_smile.png')
                  %div 465
                  .category__icon__box
                    = image_tag asset_path('material/icon/icon_cryingface.png')
                  %div 465
            %tr
              %th カテゴリー
              %td
                = @category_parent.name
                .category__type
                  .category__type__choice
                    = @category_child.name
                .category__type
                  .category__type__choice
                    = @category_grandchild.name
            %tr
              %th ブランド
              %td
                = @product.brand.name
            %tr
              %th 商品のサイズ
              %td M
            %tr
              %th 商品の状態
              %td 
                = @product.commodity_condition
            %tr
              %th 配送料の負担
              %td 
                = @product.shipping_charges
            %tr
              %th 配送の方法
              %td らくらくメルカリ便
            %tr
              %th 配送元地域
              %td 
                = @product.prefecture.name
            %tr
              %th 発送日の目安
              %td 
                = @product.days_until_shipping
        .itemMain__price
          %span.itemMain__price__bold
            = @product.price
            円
          %span.itemMain__price__tax (税込)
          %span.itemMain__price__fee 送料込み
        .itemMain__buy
          - if current_user&.id == @product.user_id
            .user_nav.grid-6
              = link_to "編集", edit_product_path(@product), method: :get, class:"purchase"
              = link_to "削除", product_path(@product), method: :delete
          - else
            .grid-6
              = link_to new_product_contract_path(@product), class: "purchase" do
                購入画面へ進む
        %p.itemMain__comment
          ご覧頂きありがとうございます。
      
          バーバリー ブルーレーベル Tシャツ メンズ M
      
          サイドのバーバリー柄がかわいいです。
          写真ではネイビーに見えますが、黒です。
          
          気に入っていたため色褪せあります。
          
          中古品、自宅保管品のため、ご理解頂ける方のみご購入くださいませ。
          
          小さく折り畳んで梱包、発送させて頂きます。
          
          ☆ご不明点はコメントをお願い致します
          .btn
            .btn__report.clearfix
              .btn__report__left
                = link_to image_tag(asset_path('material/icon/icon_flag.png')), '#'
              = link_to "不適切な商品の報告", class:"inappropriate"
            .btn__security.clearfix
              .btn__security__right
                = link_to image_tag(asset_path('material/icon/icon-security.png')), '#'
              = link_to "あんしん・あんぜんへの取り組み", class:"safety"
      .userItem
        %h2.userItem__name
          = link_to "kazumasaのその他の出品", class:"item"
        .userItem__box
          .userItem__box__image.clearfix
            = link_to image_tag(asset_path('material/pict/pict-reason-03.jpg')), '#'
            .userItem__box__image__body
              %h3.userItem__box__image__body__product product1
            .userItem__box__image__num
              .userItem__box__image__num__price ¥1,000
              %i.fas.fa-heart 1
          .userItem__box__image.clearfix
            = link_to image_tag(asset_path('material/pict/pict-reason-03.jpg')), '#'
            .userItem__box__image__body
              %h3.userItem__box__image__body__product product2
            .userItem__box__image__num
              .userItem__box__image__num__price ¥1,000
              %i.fas.fa-heart 1
          .userItem__box__image.clearfix
            = link_to image_tag(asset_path('material/pict/pict-reason-03.jpg')), '#'
            .userItem__box__image__body
              %h3.userItem__box__image__body__product product3
            .userItem__box__image__num
              .userItem__box__image__num__price ¥1,000
              %i.fas.fa-heart 1