.header__inside
  .header__inside__main
    %h1.icon
      -# = link_to "/" do
      -#   %img{ src: "assets/material/logo/logo.png" }
      = link_to image_tag('material/logo/logo.png'), '/', class: "header-logo"

    .header__inside__main__search
      = form_with url: '#' do |form|
        = form.text_field :searchInput, placeholder: "キーワードから探す", class: "searchBox--input"
        -# = form.submit
        %button{ type: "submit"} 
          .searchBox__icon
            = image_tag('material/icon/icon-search 1.png')
    %ul.resultLists

  - unless controller_name == "registrations"
    - unless controller_name == "sessions" 
      - unless controller_name == "contracts" 
        - unless controller_name == "cards"
          .header__inside__nav   
            .top-category
              %ul
                %li
                  = link_to "#", class: "category-items" do
                    %i.top-category__title
                      カテゴリーから探す
                  %ul.parents-list
                    - @parents.each do |parent|
                      %li
                        = link_to "#{parent.name}", category_path(parent), class: "parent-category",id: "#{parent.id}"
                    %ul.children-list
                    %ul.grandchildren-list

            .leftPart__item
              = link_to "ブランド", "#", id: "brandBtn"
              %ul.brandsPulldown.displayNone
            %ul.rightPart

            - if user_signed_in?
              %li.rightPart__item
                = link_to "ログアウト", destroy_user_session_path, method: :delete
              %li.rightPart__item
                = link_to current_user.nickname, user_path(current_user), class: ""
            - else
              %li.rightPart__item.rightPart__item--login
                = link_to "ログイン", new_user_session_path
              %li.rightPart__item.rightPart__item--new
                = link_to "新規会員登録", new_user_registration_path
