.header__inside
  .header__inside__main
    %h1.icon
      = link_to image_tag('material/logo/logo.png'), '/'
    .header__inside__main__search
      = form_with url: '#' do |form|
        = form.text_field :searchInput, placeholder: "キーワードから探す", class: "searchBox--input"
        -# = form.submit
        %button{ type: "submit"} 
          .searchBox__icon
            = image_tag('material/icon/icon-search 1.png')
    %ul.resultLists
  .header__inside__nav
    %ul.leftPart
      %li.leftPart__item.leftPart__item--first
        :javascript
          function openMenu() {  
            target.classList.remove('displayNone')
          }
          function closeMenu() {           
            target.classList.add('displayNone')
          }
        = link_to "カテゴリー", "#", id: "catBtn", onmouseout: "closeMenu()", onmouseover: "openMenu()"
        .tree.displayNone#target
          %ul.categoryTree{onmouseout: "closeMenu()", onmouseover: "openMenu()"}
            %li.categoryTree--item
              = link_to "レディース", "#", id: 1
            %li.categoryTree--item
              = link_to "メンズ", "#", id: 2
            %li.categoryTree--item
              = link_to "ベビー・キッズ", "#", id: 3
            %li.categoryTree--item
              = link_to "インテリア・住まい・小物", "#", id: 4
            %li.categoryTree--item
              = link_to "楽・ゲーム", "#", id: 5
            %li.categoryTree--item
              = link_to "おもちゃ・ホビー・グッズ", "#", id: 6
            %li.categoryTree--item
              = link_to "コスメ・香水・美容", "#", id: 7
            %li.categoryTree--item
              = link_to "家電・スマホ・カメラ", "#", id: 8
            %li.categoryTree--item
              = link_to "スポーツ・レジャー", "#", id: 9
            %li.categoryTree--item
              = link_to "ハンドメイド", "#", id: 10
            %li.categoryTree--item
              = link_to "チケット", "#", id: 11
            %li.categoryTree--item
              = link_to "自動車・オートバイ", "#", id: 12
            %li.categoryTree--item
              = link_to "その他", "#", id: 13

      %li.leftPart__item
        = link_to "ブランド", "#", id: "brandBtn"
        %ul.brandsPulldown.displayNone
    %ul.rightPart
      -# %li.rightPart__item.rightPart__item--login
      -#   = link_to "ログイン", new_user_session_path
      -# %li.rightPart__item.rightPart__item--new
      -#   = link_to "新規会員登録", new_user_registration_path
      - if user_signed_in?
        %li.rightPart__item
          = link_to "ログアウト", destroy_user_session_path, method: :delete
      - else
        %li.rightPart__item.rightPart__item--login
          = link_to "ログイン", new_user_session_path
        %li.rightPart__item.rightPart__item--new
          = link_to "新規会員登録", new_user_registration_path
